.button-75 {
    align-items: center;
    background-image: linear-gradient(135deg, #2063ff 40%, #6fa6ff);
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-75:active {
    outline: 0;
  }
  
  .button-75:hover {
    outline: 0;
  }
  
  .button-75 span {
    transition: all 200ms;
    
  }
  
  .button-75:hover span {
    transform: scale(.9);
    opacity: .75;
  }
  
  @media screen and (max-width: 991px) {
    .button-75 {
      font-size: 15px;
      height: 50px;
    }
  
    .button-75 span {
      line-height: 50px;
    }
  }


.p-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  transform: translateY(0); /* Initial transform for fade-up animation */
  animation: fadeUp 0.5s ease-out forwards;
}


