<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Info Page</title>

  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
  
  <!-- Day.js and Plugins -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/dayjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/locale/is.js"></script>

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  

</head>
<body class="min-h-screen flex flex-col bg-gray-800">
  
  <header class="bg-green-800 p-4 text-center text-xl font-bold text-blue-50">
    Tilkynntu
  </header>
  
  <main class="flex-grow grid grid-cols-1 lg:grid-cols-2">
    <!-- vinstri grid Image og Map -->
    <div class="grid grid-rows-2">
      <div class="flex justify-center items-center bg-gray-700">
        <img class="w-full h-auto max-w-xs object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfhFt7YBH_PZlupbJg3zNe0lrfs8fkSqNIJQ&s" alt="Image description">
      </div>
      <div class="relative w-full h-64 lg:h-96">
        <div id="map" class="w-full h-full"></div>
      </div>
    </div>
    <!-- Hægri grid -->
    <div class="grid sm:grid-rows-5 text-white">
      <div class="flex items-center justify-center p-1">information</div>
      <div class="flex items-center justify-center p-1">tags</div>
      <div class="flex items-center justify-center p-1">something</div>
      <div class="flex items-center justify-center p-1">something</div>
      <div class="flex items-center justify-center p-1">something</div>
    </div>
  </main>




  <footer class="bg-red-800 h-12 flex items-center justify-between px-4">
    <div class="text-white">Section 1</div>
    <div class="text-white">Section 2</div>
    <div class="text-white">Section 3</div>
    <div class="text-white">Section 4</div>
</footer>


  <script defer src="script.js"></script>
</body>
</html>
