<footer class="bg-zinc-900 text-gray-200 py-5">
    <div class="container mx-auto px-6 grid grid-cols-4">
        <div>
            <p class="text-xs font-bold mb-2 text-left text-zinc-600">COLUMN 1</p>
            <span class="text-lg border-l border-gray-500 font-quicksand pl-4 pr-4">Heim</span>
        </div>
        <div>
            <p class="text-xs font-bold mb-2 text-left text-zinc-600">COLUMN 2</p>
            <span class="text-lg border-l border-gray-500 font-quicksand     pl-4 pr-4">Um okkur</span>
        </div>
        <div>
            <p class="text-xs   font-bold mb-2 text-left text-zinc-600">COLUMN 3</p>
            <span class="text-lg border-l border-gray-500 font-quicksand pl-4 pr-4">Þjónusta</span>
        </div>
        <div>
            <p class="text-xs font-bold mb-2 text-left text-zinc-600">COLUMN 4</p>
            <span class="text-lg font-quicksand border-l border-gray-500 pl-4 pr-4">Hafa samband</span> <!-- No border on the last column -->
        </div>
    </div>
</footer>
