<footer class="bg-zinc-900 text-gray-200 py-5">
    <div class="container mx-auto px-6 grid grid-cols-4">
        <div>
            <p class="text-xs font-bold mb-2 text-left text-zinc-600">Heim</p>
            <span class="block text-lg border-l border-gray-500 font-quicksand pl-4 pr-4">Span1</span>
            <span class="block text-lg font-quicksand border-l border-gray-500 pl-4 pr-4">Span1-2</span>
        </div>
        <div>
            <p class="text-xs font-bold mb-2 text-left text-zinc-600">Um okkur</p>
            <span class="block text-lg border-l border-gray-500 font-quicksand pl-4 pr-4">Span2</span>
            <span class="block text-lg font-quicksand border-l border-gray-500 pl-4 pr-4">Span2-2</span>
        </div>
        <div>
            <p class="text-xs   font-bold mb-2 text-left text-zinc-600">Þjónusta</p>
            <span class="block text-lg border-l border-gray-500 font-quicksand pl-4 pr-4">Span3</span>
            <span class="block text-lg font-quicksand border-l border-gray-500 pl-4 pr-4">Span3-2</span>
        </div>
        <div>
            <p class="text-xs font-bold mb-2 text-left text-zinc-600">Hafa samband</p>
            <span class="block text-lg font-quicksand border-l border-gray-500 pl-4 pr-4">Span4</span>
            <span class="block text-lg font-quicksand border-l border-gray-500 pl-4 pr-4">Span4-2</span>
          </div>          
    </div>
</footer>
