<header class="bg-cyan-800 text-white">
    <div class="p-4 grid grid-cols-4 text-center items-center">
        <nav class="col-span-4 mt-4 flex justify-center space-x-4">
            <button class="px-4 py-2 bg-cyan-600 hover:bg-cyan-700 rounded text-white font-medium"><a href="/">Heim</a></button>
            <button class="px-4 py-2 bg-cyan-600 hover:bg-cyan-700 rounded text-white font-medium"><a href="/about">Um okkur</a></button>
            <button class="px-4 py-2 bg-cyan-600 hover:bg-cyan-700 rounded text-white font-medium"><a href="/help" >Þjónusta</a></button>
            <button class="px-4 py-2 bg-cyan-600 hover:bg-cyan-700 rounded text-white font-medium"><a href="/contact">Hafa samband</a></button>
        </nav>
    </div>
</header>
